<div class="filter">
    <div class="filter__container">
        <h2>Price Range</h2>
        <div class="filter__containerInside">
            <input type="checkbox" unchecked /> 300-500$
        </div>
        <div class="filter__containerInside">
            <input type="checkbox" unchecked /> 500-1000$
        </div>
        <div class="filter__containerInside">
            <input type="checkbox" unchecked /> 1000-1500$
        </div>
        <div class="filter__containerInside">
            <input type="checkbox" unchecked /> 1500-2000$
        </div>
    </div>

    <div class="filter__container">
        <h2>Brand</h2>
        <div class="filter__containerInside">
            <input type="checkbox" unchecked /> LG
        </div>
        <div class="filter__containerInside">
            <input type="checkbox" unchecked /> Logiteh
        </div>
        <div class="filter__containerInside">
            <input type="checkbox" unchecked /> Sony
        </div>
        <div class="filter__containerInside">
            <input type="checkbox" unchecked /> Acer
        </div>
        <div class="filter__containerInside">
            <input type="checkbox" unchecked /> Amazon Basic
        </div>
    </div>

    <div class="filter__container">
        <h2>Avg. Customer Review</h2>

        <div>
            <mat-icon class="filter__goldStar" *ngFor="let i of [].constructor(4)">grade</mat-icon>
            <mat-icon *ngFor="let i of [].constructor(1)">grade</mat-icon>
            &up
        </div>
        <div>
            <mat-icon class="filter__goldStar" *ngFor="let i of [].constructor(3)">grade</mat-icon>
            <mat-icon *ngFor="let i of [].constructor(2)">grade</mat-icon>
            &up
        </div>
        <div>
            <mat-icon class="filter__goldStar" *ngFor="let i of [].constructor(2)">grade</mat-icon>
            <mat-icon *ngFor="let i of [].constructor(3)">grade</mat-icon>
            &up
        </div>
        <div>
            <mat-icon class="filter__goldStar" *ngFor="let i of [].constructor(1)">grade</mat-icon>
            <mat-icon *ngFor="let i of [].constructor(4)">grade</mat-icon>
            &up
        </div>
    </div>

    <div class="filter__container">
        <h2>Electronic Device Model Year</h2>
        <div class="filter__containerInside">
            <input type="checkbox" unchecked /> 2019
        </div>
        <div class="filter__containerInside">
            <input type="checkbox" unchecked /> 2018
        </div>
        <div class="filter__containerInside">
            <input type="checkbox" unchecked /> 2017
        </div>
        <div class="filter__containerInside">
            <input type="checkbox" unchecked /> 2016
        </div>
        <div class="filter__containerInside">
            <input type="checkbox" unchecked />2015
        </div>
    </div>




</div>