
<div class="basket">
  <h2>Produkty w koszyku</h2>
  <div *ngFor="let item of arrayOfProducts">
    <div class="product__page">
      <img src="{{products[ChangeToInt(item.productId)-1].img}}" alt="">
  
      <div class="product__page_leftSide">
          <p>{{products[ChangeToInt(item.productId)].name}}</p>
          <p>{{products[ChangeToInt(item.productId)-1].price}} $</p>
  
      </div>
      <div class="product__page__rightSide">  
  
          
          <div class="addRemoveItems">
            <button (click)="addItemToBasket(item.productId)">+</button>
            <button (click)="removeOneItemFromBasket(item.productId)"> - </button>         
            <div>Ilość: {{item.amount}}</div>
          </div>
          <button class="removeItemFromBasket" (click)="removeItemFromBasket(item.productId)">Usun z koszyka</button>
      </div>
  
    </div>
  
  </div>
</div>

