.basket {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.product__page {
  display: flex;
  width: 700px;

  border: 1px solid lightgray;

  img {
    height: 100%;
    max-width: 120px;
    max-height: 90px;
    padding: 10px;
  }
}

.product__page_leftSide {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  // min-width: 30vw;
  p {
    font-size: 14px;
  }
}

.product__page__rightSide {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  align-items: center;
  justify-content: center;
  margin-right: 20px;

  .addRemoveItems {
    display: flex;
    flex-direction: row;
    align-items: center;

    button {
      background-color: #febd69;
      color: #111;
      border: none;
      outline: none;
      cursor: pointer;
      margin: 5px;
      width: 15px;
      height: 15px;
      border-radius: 4px;
    }
  }

  .removeItemFromBasket {
    margin-top: 5px;
    width: 100px;
    background-color: #febd69;
    color: #111;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 2px 1px;
    border-radius: 4px;
  }
}
